.Snake-board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.Snake-row {
  display: flex;
  flex-direction: row;
}

.Game-over {
  position: absolute;
  font-family: 'Gorditas', cursive;
  font-size: 50px;
  color: purple;
  background-color: turquoise;
  font-weight: bold;
  padding: 10px;
}

.tile {
  position: relative;
  width: 10px;
  height: 10px;
}

.blank {
  background: white;
}

.snake {
  background: olive;
}

.food {
  background: white;
  /* background: #F5CBA7; */
}

.obstacle {
  background: black;
}

.food:after {
  position: absolute;
  content: "🍔";
  font-size: 10px;
  top: -4px;
  left: 0;
}
